body {
	font-family: 'Poppins', sans-serif;
	position: relative;
	width: 100%;
	height: auto;
}
h1,h2,h3,h4,h5,h6,p,span,small,img,table,ul,ol,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* small device mobile */
@media only screen and (min-width : 320px) {
	/* Header-starts */
	header {
		border-bottom: 1px solid #ebebeb;
	}
	.navbar-nav {
		margin: 0 !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: inherit;
		padding: 0;
	}
	.navbar-default {
		background-color: #8a6d3b !important;
		border: none;
		margin: 0;
		padding: 10px;
		border-radius: 0 !important;
	}
	.navbar-default .navbar-nav .active a {
		background: inherit;
		color: #fff !important;
	}
	.navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .dropdown a:focus {
		background: inherit;
		outline: none;
		text-decoration: none;
	}
	.navbar-default .navbar-nav li a:hover {
		color: #fff !important;
	}
	.navbar-toggle {
		padding: 10px 8px;
		background-color: #0066e4 !important;
		border: none;
		margin-top: 12px !important;
		margin-right: 0;
	}
	.dropdown .dropdown-menu li a {
		color: #474747 !important;
	}
	.navbar-collapse {
		border: none !important;
	}
	.navbar-nav li a {
		padding-top: 20px;
		color: #FFF !important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	/* navigation-ends */
	/* slick-slider-starts */
	.slick-slidderrer {
		background: url("../images/pattern-overlay.png");
		background-repeat: repeat;
		width: 100%;
		height: auto;
		padding: 130px 0;
	}
	.slick-slide:focus {
		outline: none !important;
	}
	.slick-slide img{
		display: block;
		width: 70%;
		max-width: 100%;
		margin: 0 auto;
		padding-bottom: 40px;
	}
	.slider .wrap{
		text-align: center;
	}
	.slider .wrap small{
		color: #999999;
		border-bottom: 2px solid #cdcdcd;
		padding-bottom: 15px;
	}
	.slider .wrap h1{
		font-size: 30px;
		font-weight: 600;
		margin-top: 35px;
		margin-bottom: 30px;
	}
	.slider .wrap a{
		width: 220px;
		margin: 0 auto;
		display: block;
		background: #0066e4;
		box-shadow: 10px 19px 50px rgba(0, 0, 0, 0.18);
		padding: 20px 70px;
		color: #fff;
		margin: 0 auto;
		border-radius: 50px;
		transition: all linear 0.5s;
	}
	.slider .wrap a:hover{
		text-decoration: none;
		background-color: #0d4993;
	}
	.slick-dots{
		bottom: -60px !important;
	}
	.slick-dots li.slick-active button::before {
	    opacity: 1;
	    color: #0066e4;
	}
	.slick-dots li button::before {
		font-size: 10px;
	}
	/* slick-slider-ends */
	/* what-can-we-do-starts */
	.purpose{
		background-color: #0066e4;
		padding: 75px 0 20px 0;
	}
	.purpose ul li{
		position: relative;
		padding-bottom: 70px;
		overflow: hidden;
	}
	.purpose ul li img{
		padding: 30px 0;
		border-bottom: 2px solid #529fff;
		margin-bottom: 30px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.purpose ul li h3{
		font-size: 16px;
		text-align: center;
		text-decoration: none;
		color: #fff;
		font-weight: 300;
	}
	.purpose ul li .fa{
		position: absolute;
		color: #fff;
		margin-top: 32px;
		font-size: 20px;
		display: none;
	}
	.purpose ul li:hover .fa{
		display: block;
		left: 45%;
	}
	.purpose ul li:hover a{
		text-decoration:none;
	}
	.heading{
		margin-bottom: 40px;
	}
	.heading h2{
		position: relative;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
		margin-bottom: 70px;
	}
	.heading h2::before{
		content: '';
		position: absolute;
		width: 56px;
		height: 3px;
		background: #529fff;
		bottom: -30px;
		left: 40%;
	}
	.heading h2 span{
		font-weight: 600;
	}
	.purpose .heading p{
		color: #fff;
		font-size: 12px;
		font-weight: 300;
	}
	/*hover-css*/
	.hvr-pulse{
		display: block !important;
	}
	/* what-can-we-do-ends */
	/* why-choose-us-starts */
	.reason{
		background-color: #fafafa;
		padding: 60px 0;
	}
	.overlay-repeat{
		position: relative;
		font-weight: 300;
		font-size: 30px;
		margin-bottom: 32px;
	}
	.overlay-repeat::before {
		position: absolute;
		content: "";
		width: 55px;
		height: 3px;
		color: #ebebeb;

	}
	.overlay-repeat span {
		font-weight: 600;
	}
	.title p {
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 40px;
	}
	/* why-choose-us-end */
}
/* small device mobile */
@media only screen and (min-width : 480px) {
	/*slider*/
	.slick-slide img{
		width: 45%;
	}
	/*slider-end*/
}
/* small device mobile */
@media only screen and (min-width : 600px) {
	/*slider*/
	.slider .wrap h1{
		font-size: 35px;
		margin-top: 50px;
	}
	/*purpose-listing*/
	.purpose ul li{
		float: left;
	}
	.purpose ul{
		padding: 0 45px;
	}
	/*end*/
}
/* small device mobile */
@media only screen and (min-width : 767px) {
	/*purpose-listing*/
	.purpose ul{
		padding: 0 130px;
	}
	/*end*/
}
/* tablets */
@media only screen and (min-width : 768px) {
	/* slider-right-nav */
	button.slick-next.slick-arrow::before {
		right: 0;
	}
	.slick-slide img{
		width: 33%;
	}
	.slider .wrap{
		text-align: inherit;
		margin-top: 50px;
	}
	.slider .wrap a{
		margin: 0;
	}
	/* end */
	/*purpose-listing*/
	.purpose ul{
		padding: 0;
	}
	.purpose ul li h3{
		font-size: 17px;
	}
	.slider .wrap h1{
		white-space: pre-line;
	}
	.slider .wrap small{
		font-size: 16px;
	}
	.heading h2::before {
		left: 48%;
	}
	/*end*/
}
@media (max-width : 991px) {
	/* nav-bar-toggle-css-for-custom-width */
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.collapse.in{
		display:block !important;
	}
	/* end */
}
/* small-desktop  */
@media only screen and (min-width : 992px) {
	/* nav-bar-css */
	.navbar-nav {
		float: right !important;
	}
	.navbar-default {
		background: none !important;
	}
	.nav li {
		padding: 0 10px;
	}
	.navbar-default .navbar-nav li a {
		color: #434242 !important;
		font-size: 12px;
	}
	.navbar-default .navbar-nav .active a {
		color: #0066e4 !important;
		font-size: 12px;
	}
	.navbar-nav .dropdown .dropdown-toggle:focus {
		color: inherit !important;
	}
	.navbar-default .navbar-nav li a:hover {
		color: #0066e4 !important;
	}
	.navbar-nav li a::after {
		position: absolute;
		content: "/";
		left: -13px;
	}
	.navbar-nav .active a::after {
		content: "";
	}
	.navbar-nav li .dropdown-menu li a::after {
		content: "";
	}
	/*end*/
	/*purposes-listing*/
	.purpose .heading p{
		width: 60%;
		margin: 0 auto;
		margin-top: 32px;
		margin-top: 75px;
	}
	.heading h2{
		font-size: 35px;
	}
	/* end */
	/* why-choose-us */
	.overlay-repeat {
		font-size: 35px;
	}
}
/* large-desktop */
@media only screen and (min-width : 1200px) {
	/* nav-bar-css */
	.navbar-default .navbar-nav li a {
		color: #434242 !important;
		font-size: 14px;
	}
	.navbar-default .navbar-nav .active a {
		color: #0066e4 !important;
		font-size: 14px;
	}
	/*end*/
	/*purpose-listing*/
	.purpose{
		padding: 75px 0 49px 0;
	}
	.heading {
	    margin-bottom: 75px;
	}
	.purpose .heading p{
		width: 60%;
		margin-top: 70px;
		font-size: 16px;
	}
	/* end */
	/* why-choose-us */
	.reason {
		margin-bottom: 72px;
	}
	.title {
		margin-bottom: 80px;
	}
	.title p {
		font-size: 16px;
		width: 720px;
		margin: 0 auto;
		color: #434242;
	}
	.slidertwo ul li img {
		width: 78%;
		margin: 0;
		float: right;
	}
	.slidertwo ul li h5 {
		font-size: 35px;
	    white-space: pre-line;
	    color: #434242;
	    font-weight: 600;
	    margin: 0 0 40px 25px;
	}
	.slidertwo ul li p {
		font-size: 16px;
		font-weight: 300;
		color: #666565;
		width: 440px;
		text-align: justify;
		margin-left: 25px;
	}
	/* end */
	/* what-makes-us-different-starts */
	.brainsstorming {
		padding: 40px 30px 50px 90px;
		border-right: 1px solid #dadcdc;
		border-bottom: 1px solid #dadcdc;
	}
	.description {
		width: 380px;
		text-align: justify;
		margin-left: 30px;
	}
	.description p {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 32px;
		color: #434242;
	}
	.description span {
		font-size: 14px;
		font-weight: 300;
		color: #9ea2a3;
	}
	.wireframing {
		padding: 40px 90px 50px 30px;
		border-bottom: 1px solid #dadcdc;
	}
	.designing {
		padding: 40px 30px 50px 90px;
		border-right: 1px solid #dadcdc;
	}
	.developing {
		padding: 40px 90px 50px 30px;
	}
	.content-box {
		margin-bottom: 72px;
	}
	/* end */
	/* testimonial-starts */
	.testimonial {
		margin-bottom: 72px;
		background-color: #fafafa;
		padding: 70px 0;
	}
	.what-people-said {
		position: relative;
		background: #FFF;
		padding: 70px 80px 70px 65px;
		margin-left: 40px;
		color: #434242;
	}
	.what-people-said p {
		font-size: 15px;
		color: #434242;
		font-weight: 300;
		width: 415px;
		margin-bottom: 26px;
	}
	.what-people-said object {
		display: block;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 10px;
	}
	.what-people-said object span {
		font-weight: 600;
	}
	.what-people-said a {
		font-weight: 300;
	}
	.what-people-said img {
		position: absolute;
		top: 100px;
		left: -36px;
		width: 16% !important;
	}
	/*end*/
	/*members-starts*/
	
	/*mmber-end*/
	/*contact-us-starts*/
	.contact-us{
		background-color: #0066e4;
		padding: 100px 0 80px 0;
		margin-bottom: 100px;
	}
	.contact-us h1{
		font-size: 35px;
		font-weight: 600;
		color: #fff;
		margin-bottom: 90px;
	}
	.form-control{
		padding: 0;
		background:inherit;
		border:0;
		border-bottom: 1px solid #4f95ec !important;
		box-shadow: none !important;
		margin-bottom: 45px;
	}
	input::-moz-placeholder {
		color: #fff !important;  
	}
	textarea::-moz-placeholder {
		color: #fff !important;  
	}
	.btn-default{
		display: block;
		background: #fff;
		box-shadow: 10px 19px 50px rgba(0, 0, 0, 0.18);
		padding: 20px 60px;
		color: #0066e4;
		text-align: center;
		border-radius: 50px;
		transition: all linear 0.5s;
		width: 50% !important;
		margin: 0 auto;
	}
	.btn-default a{
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
	}
	/*contact-us-end*/
	/*fooetr-starts*/
	.afterclone h1{
		font-size: 55px;
		font-weight: 600;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 25px;
		margin-bottom: 150px;
	}
	.afterclone h1 a{
		color: #e6e6e6;
	}
	.afterclone h1 a:hover{
		text-decoration: none;
	}
	.beforeclone p{
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 86px;
	}
	.beforeclone h2 a{
		font-size: 55px;
		font-weight: 600;
		color: #0066e4;
	}
	.beforeclone h2 a:hover{
		text-decoration: none;
	}
	.view-them {
	    margin-top: 100px;
	}
	.view-them img{
		margin-left: 40px;
	}
	.view-them p a{
		font-size: 30px;
		color: #434242;
		padding-bottom: 12px;
		border-bottom: 1px solid #0066e4;
	}
	.view-them p a:hover{
		text-decoration: none;
	}
	.view-them-margin{
		margin-bottom: 87px;
		overflow: hidden;
	}
	footer .social-media{
		padding: 100px 0;
	}
	.social-page ul li{
		display: inline-block;
		position: relative;
		padding-left: 33px;
	}
	.social-page ul li:last-child ::after{
		content: '' !important;
	}
	.social-page ul li::after{
		position: absolute;
		content: '/';
		top: 0;
		right: -20px;
		color: #0066e4;
	}
	/*fooetr-ends*/
}